body {
    font-family: sans-serif;
    margin-left: 0;
}

.container {
    width: 1600px;
    margin: 0 270px;
}

.clr {
    clear: both;
}

/* Header section */
.header {
    padding-bottom: 15px;
    background-color: #fff;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 10;
}

.header-menu__i-1 {
    padding-top: 14px;
    float: left;
    color: #7c7c7c;
    margin-right: 140px;
}

.header-menu__i-2 {
    padding-top: 14px;
    color: #7c7c7c;
    margin-left: 140px;
}

.header-menu__img {
    float: left;
    height: 40px;
    width: 100px;
    margin: 0 66px;
}


.header-menu__li-1 {
    padding-top: 14px;
    float: left;
    list-style: none;
    padding-right: 20px;
}

.header-menu__li-2 {
    padding-top: 14px;
    float: left;
    list-style: none;
    padding-left: 24px;
}

.header-menu__li-1 a, 
.header-menu__li-2 a {
    color: #7c7c7c;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500px;
} 

.header-menu__li-1 a:hover,
.header-menu__li-2 a:hover {
    color: black;
    cursor: pointer;
}

.header-menu__i-1:hover,
.header-menu__i-2:hover {
    color: black;
    cursor: pointer;
}
/* /Header section */

/* Main section */
.main-section__items {
    padding-top: 190px;
    float: left;
}

.main-section__p-1 {
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    font-size: 48px;
}

.main-section__p-2 {
    float: left;
    background-color: red;
    border-radius: 50px;
    color: white;
    padding: 10px 15px;
    text-transform: capitalize;
}

.main-section__p-2:hover {
    background-color: black;
    cursor: pointer;
}

.main-section__span-1 {
    float: left;
    padding: 20px 0 0 15px;
    vertical-align: middle;
}

.main-section__span-1:hover {
    color: #7c7c7c;
    cursor: pointer;
}

.main-section__items .main-section__span-1 {
    font-size: 30px;
}

.main-section__p-3 {
    display: inline-block;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
    padding: 13px 0 0 10px;
}

.main-section__p-3:hover {
    color: #7c7c7c;
    cursor: pointer;
}

.main-section__item-1 {
    display: inline-block;
    margin: 120px 10px;
    text-transform: capitalize;
    font-size: 14px;
    font-family: cursive;
    font-weight: 600;
}

.main-section__item-2 {
    display: inline-block;
    margin: 120px 10px;
    padding: 0 30px;
    text-transform: capitalize;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    font-size: 14px;
    font-family: cursive;
    font-weight: 600;
}

.main-section__item-3 {
    display: inline-block;
    margin: 120px 10px;
    text-transform: capitalize;
    font-size: 14px;
    font-family: cursive;
    font-weight: 600;
}

.main-section__items .main-section__span-2,
.main-section__items .main-section__span-3 {
    font-size: 30px;
    display: inline-block;
}

.main-section__span-2 {
    padding-left: 30px;
}

.main-section__span-3 {
    padding-left: 20px;
}

.main-section__i-4 {
    font-size: 20px;
    display: inline-block;
    padding-left: 30px;
}

.main-section__img {
    background-image: url(../Img/hero-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    width: 500px;
    float: left;
    margin-top: 65px;
    margin-left: 100px;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 
              0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.main-section__img-1 {
    float: left;
    margin-left: 293px;
}

.main-section__img-p {
    background-color: #fff;
    display: inline-block;
    color: #acacac;
    margin-top: 702px;
    padding: 34px 44px;
    font-size: 26px;
}

.main-section__img-p:hover {
    background-color: #7c7c7c;
    cursor: pointer;
    color: black;
}
/* /Main section */

/* About section */
.about {
    padding-top: 100px;
}

.about__img {
    background-image: url(../Img/hero-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 580px;
    width: 405px;
    float: left;
    margin-right: 100px;
    margin-left: 10px;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 
              0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.about-items {
    padding-top: 45px;
}

.about-item__span-1 {
    display: inline-block;
    color: red;
    font-size: 14px;
}

.about-item__span-2 {
    display: block;
    font-size: 28px;
    font-family: cursive;
    font-weight: 600;
}

.about-item__p-1 {
    width: 985px;
    color: #acacac;
    line-height: 20px;
}

.about-item__p-2 {
    font-family: cursive;
    font-size: 24px;
    font-weight: 500;
}

.about-item__div {
    display: inline-block;

}

.about-item__img {
    height: 135px;
    width: 135px;
}

.about-item__p-3 {
    text-transform: capitalize;
    color: red;
    width: 160px;
}
/* About section */

/* Special Dishes section */
.special-dishes {
    top: 100px;
    position: relative;
}

.special {
    display: block;
    color: red;
    font-size: 14px;
    margin-left: 455px;
}

.special-dish {
    display: block;
    font-size: 28px;
    font-family: cursive;
    font-weight: bold;
    margin-left: 395px;
}

.special-item__1 {
    margin-top: 95px;
    float: left;
}

.special-01 {
    float: left;
    font-size: 56px;
    font-weight: bold;
    font-family: "Bree Serif", serif;
    font-style: normal;
}

.special-line-1 {
    float: left;
    width: 185px;
    height: 4px;
    background-color: #acacac;
    margin: 45px 0 0 18px;
}

.special-margin-1 {
    margin-left: 90px;
}

.special-beef {
    display: inline-block;
    color: red;
    font-size: 22px;
    margin-top: 5px;
}

.special-steak {
    display: block;
    font-family: cursive;
    font-size: 26px;
}

.special-p-1 {
    width: 300px;
    color: #acacac;
    line-height: 20px;
}

.special-p-2 {
    font-size: 24px;
    font-weight: 600;
}

.special-p-3 {
    background-color: red;
    display: inline-block;
    border-radius: 50px;
    padding: 10px 15px;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}

.special-p-3:hover {
    background-color: black;
    cursor: pointer;
}

.special__img-1 {
    background-image: url(../Img/steak.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 470px;
    width: 390px;
    float: left;
    margin: 50px 0 10px 190px;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 
              0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.special-02 {
    font-size: 56px;
    font-weight: bold;
    font-family: "Bree Serif", serif;
    font-style: normal;
    float: left;
    margin: 100px 0 0 590px;
}

.special-line-2 {
    float: left;
    width: 185px;
    height: 2px;
    background-color: #acacac;
    margin: 145px 0 0 18px;
}

.special-margin-2 {
    float: right;
    margin-right: 620px;
}

.special-salmon {
    display: inline-block;
    color: red;
    font-size: 22px;
    margin-top: 5px;
}

.special-zucchini {
    display: block;
    font-family: cursive;
    font-size: 26px;
}

.special-a-1 {
    width: 300px;
    color: #acacac;
    line-height: 20px;
}

.special-a-2 {
    font-size: 24px;
    font-weight: 600;
}

.special-a-3 {
    background-color: red;
    display: inline-block;
    border-radius: 50px;
    padding: 10px 15px;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}

.special-a-3:hover {
    background-color: black;
    cursor: pointer;
}

.special__img-2 {
    background-image: url(../Img/salmon-zucchini.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 470px;
    width: 390px;
    float: left;
    position: absolute;
    top: 750px;
    left: 0;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 
              0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
/* Special Dishes section */

/* Our Menu section */
.our-menu {
    position: relative;
}

.our-menu__nav {
    margin-top: 650px;
    margin-bottom: 50px;
}

.our-menu__nav-1 {
    display: block;
    color: red;
    font-size: 14px;
    margin-left: 455px;
}

.our-menu__nav-2 {
    display: block;
    font-size: 28px;
    font-family: cursive;
    font-weight: bold;
    margin-left: 425px;
}

.menu-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    font-family: sans-serif;
    margin-right: 625px;
}

.menu-column {
    width: 300px;
}

.menu-column h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 600;
    font-family: cursive;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #eee; /* Ostidagi ingichka chiziqcha */
}

.menu-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Rasmni dumaloq qilish */
    object-fit: cover;
}

.item-details {
    flex-grow: 1;
    margin-left: 15px;
}

.item-details h4 {
    font-size: 15px;
    margin: 0 0 4px 0;
    color: #333;
}

.item-details p {
    font-size: 12px;
    margin: 0;
    color: #777;
}

.price {
    font-weight: 600;
    color: #555;
    font-size: 15px;
}
/* /Our Menu section */

/* Happy Customer section */
.happy-customer {
    color: white;
    text-align: center;
    margin-top: 100px;
    position: relative;
}

.happy-img {
    background-image: url(../Img/testi-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    height: 450px;
    width: 100%;
    padding-top: 100px;
    filter: brightness(0.9);
}

.happy-customer__h1 {
    position: absolute;
    display: inline-block;
    font-size: 150px;
    font-weight: 600;
    left: 710px;
}

.happy-p {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    padding-top: 120px;
    color: #dcdcdc;
}

.happy-customer__p {
    color: red;
    padding-top: 30px;
}

.happy-ctd {
    color: #fff;
}

.happy-span {
    color: red;
}
/* Happy Customer section */

/* Our Team section */
.our-team__nav {
    padding-top: 600px;
}

.our-team__nav-1 {
    display: block;
    color: red;
    font-size: 14px;
    margin-left: 455px;
}

.our-team__nav-2 {
    display: block;
    font-size: 28px;
    font-family: cursive;
    font-weight: bold;
    margin-left: 425px;
}

.our-team-bg-1 {
    background-image: url(../Img/chef-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 290px;
    height: 450px;
    margin-left: 28px;
    margin-top: 40px;
    float: left;
    margin-right: 25px;
}

.bg-1 {
    background-color: #fff;
    display: inline-block;
    width: 260px;
    margin-top: 375px;
    margin-left: 15px;
    text-align: center;
    padding: 10px 0;
}

.aaron-patel {
    display: block;
    font-family: cursive;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

.chef-1 {
    color: #acacac;
    text-transform: uppercase;
}

.our-team-bg-2 {
    background-image: url(../Img/chef-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 290px;
    height: 450px;
    margin-top: 40px;
    float: left;
    margin-right: 25px;
}

.bg-2 {
    background-color: #fff;
    display: inline-block;
    width: 260px;
    margin-top: 375px;
    margin-left: 15px;
    text-align: center;
    padding: 10px 0;
}

.daniel-tebas {
    display: block;
    font-family: cursive;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

.chef-2 {
    color: #acacac;
    text-transform: uppercase;
}

.our-team-bg-3 {
    background-image: url(../Img/chef-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 290px;
    height: 450px;
    margin-top: 40px;
    float: left;
    margin-right: 25px;
}

.bg-3 {
    background-color: #fff;
    display: inline-block;
    width: 260px;
    margin-top: 375px;
    margin-left: 15px;
    text-align: center;
    padding: 10px 0;
}

.jon-snow {
    display: block;
    font-family: cursive;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

.chef-3 {
    color: #acacac;
    text-transform: uppercase;
}
/* /Our Team section */

/* Book Now section */
.book-now {
    position: relative;
    top: 460px;
}

.book-now__bg {
    background-image: url(../Img/reservation-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 800px;
    width: 1510px;
    margin-left: 0;
    filter: blur(1px) brightness(0.8);
}

.book-now__items {
    background-color: white;
    height: 500px;
    width: 380px;
    position: absolute;
    top: 260px;
    left: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.book-now__nav-1 {
    display: block;
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
}

.book-now__nav-2 {
    display: block;
    font-size: 26px;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.book-now__form {
    margin-left: 40px;
}

.input {
    width: 300px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #dcdcdc;
}

input, textarea::placeholder {
    font-size: 16px;
}

.input-1 {
    width: 130px;
    margin-right: 11px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #dcdcdc;
}

.input-2 {
    width: 130px;
    margin-left: 11px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #dcdcdc;
}

.select {
    width: 313px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #dcdcdc;
}

.book-now__btn {
    background-color: red;
    display: inline-block;
    border-radius: 50px;
    padding: 10px 18px;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    margin-left: 94px;
    font-size: 12px;
}

.book-now__btn:hover {
    background-color: black;
}
/* /Book Now section */

/* Footer section */
.footer {
    margin-top: 600px;
}

.footer-item__1 {
    float: left;
}

.footer-item__1 img {
    width: 100px;
    margin-top: 20px;
}

.footer-item__1 p {
    width: 300px;
    color: #acacac;
}

.networks {
    margin-top: 30px;
    letter-spacing: 20px;
}

.footer-item__2 {
    float: left;
    margin: 20px 100px;
}

.footer__p {
    display: block;
    font-family: cursive;
    font-size: 20px;
    font-weight: 600;
    
}

.footer__p-1 {
    float: left;
    color: #7c7c7c;
}

.footer__p-2 {
    float: right;
    color: #7c7c7c;
    margin-left: 50px;
}

.footer-item__3 {
    width: 250px;
    float: right;
    margin-right: 600px;
    margin-top: 20px;
}

.footer-item__p {
    display: block;
    font-family: cursive;
    font-size: 20px;
    font-weight: 600;
}

.footer-item__3 p {
    color: #7c7c7c;
}

.footer-item__3 input {
    padding: 5px 10px;
    border: 1px solid #dcdcdc;
    margin-bottom: 10px;
    width: 215px;
}

.footer-item__3 input::placeholder {
    color: #7c7c7c;
}

.footer__btn {
    background-color: red;
    display: inline-block;
    border-radius: 50px;
    padding: 10px 100px;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 12px;
}

.footer__btn:hover {
    background-color: black;
}

.footer > p {
    margin-left: 300px;
    color: #7c7c7c;
}
/* /Footer section */
